
* {	text-align: center; 
	}

body {	<!––background-color: #003500;––!>
        font-family: "Trebuchet MS", Helvetica, sans-serif;
	}

h1 { 	color:Black;
  <!--color: Silver; --!>
	padding: 5px; 
	text-decoration: underline; 
	}

h2 { 	color: Grey; 
	padding: 10px; 
	}
	
h3 { 	color: DarkGrey;
  <!--color: Azure; --!>
	padding: 15px; 
	font-size:24px;
	}

p { 	color: DarkGrey;
  <!-- color: WhiteSmoke; --!>
	}
	
ul {color:Black;
    <!--color:PaleGreen;--!>
    list-style-type: none;
  }	
	
li {padding:7px;
  }
	
li::before {
  content: "<<";
  color: MediumSpringGreen;
}

li::after {
  content: ">>";
  color: MediumSpringGreen;
}